h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: medium;
}
header {
    color: blue;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}
p {
    font-weight:lighter;
}

div .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    font-size: large;
    gap: 20px;
}

section{
    background-color: antiquewhite;
}

.sec {
    flex-wrap: wrap;
    border: solid 1px;
    border-color: gray;
    text-align: center;
    width: 100%;
    height: 100% ;
    gap: 15px;
    justify-content: space-evenly;
}

footer {
    font-size: small;
    background-color: slategrey;
    text-align: end;
    color: yellow;
}

a {
    text-align: end;
}